src/test/resources/flows/tests.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wd-hr="http://www.mulesoft.org/schema/mule/wd-hr"
xmlns:batch="http://www.mulesoft.org/schema/mule/batch" 
xmlns="http://www.mulesoft.org/schema/mule/core" 
xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
version="EE-3.6.0" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/wd-hr http://www.mulesoft.org/schema/mule/wd-hr/current/mule-wd-hr.xsd">
    
    <flow name="callBatchFlow" >
        <logger level="ERROR" message="++++++ BEFORE CALL BATCH" doc:name="Logger"></logger>
        <batch:execute name="businessLogicBatch" doc:name="Batch Execute"/>

        <logger level="ERROR" message="++++++ AFTER CALL BATCH" doc:name="Logger"></logger>
    </flow>

<sub-flow name="retieveOrganizationFromWdayFlow">
        <wd-hr:find-organization config-ref="Workday_Human_Resource" organizationFind-ref="#[org.mule.templates.OrganizationRequest.findOrganization( payload['orgName'] )]" doc:name="Find organization"/>
        <expression-component doc:name="Check if the organization was found"><![CDATA[if(payload.size()>0) {
	payload = payload.get(0);
} else payload = new NullPayload();]]></expression-component>

    </sub-flow>
    <sub-flow name="dissolveOrganizationFromWdayFlow">
        <wd-hr:dissolve-organization-structure config-ref="Workday_Human_Resource" organizationStructureDissolve-ref="#[org.mule.templates.OrganizationRequest.dissolveOrganization(payload.integrationIDReference)]" doc:name="Dissolve organization structure"/>
    </sub-flow>
</mule>
