src/main/mule/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:workday="http://www.mulesoft.org/schema/mule/workday"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
    xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/workday http://www.mulesoft.org/schema/mule/workday/current/mule-workday.xsd">

    <flow name="businessLogicFlow" doc:id="8759532e-79b7-4789-990c-dc8e162bfd67">
		<ee:transform doc:name="XML To Map" doc:id="3eb73043-3196-429a-a0ba-b039d84fc4d5">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
if(payload."HRMD_ABA01"? and payload.HRMD_ABA01.IDOC.E1PLOGI.E1PITYP.*E1P1000?)
payload.HRMD_ABA01.IDOC.E1PLOGI.E1PITYP.*E1P1000 filter $.LANGU_ISO == p('sap.jco.lang') map
{
	name: $.STEXT,
	code: $.SHORT,
	id: $.OBJID
} else []]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<batch:job jobName="migrateOrganizationsBatch" doc:id="204892ae-0d97-4326-beae-310c8d52b7a6">
        <batch:process-records>
				<batch:step name="foreachOrganizationInSAPUpsertOrganizationInWorkdayStep" doc:id="78a74ab4-9b91-416d-985a-acda2ac377eb">
					<ee:transform doc:name="Create Upsert Organization Request" doc:id="f16a0711-51dd-4141-bc7f-bf53267c8687">
						<ee:message>
							<ee:set-payload><![CDATA[output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Organization_Add_Update: {
		ns0#Organization_Data : {
			ns0#Availability_Date : now() as DateTime,
			ns0#Integration_ID_Data : {
				ns0#ID @(ns0#"System_ID": p('wday.ext.systemID') ): payload.id
				},
			ns0#Organization_Subtype_Reference : {
				ns0#Organization_Subtype_Name : p('wday.org.subtype')
			},
			ns0#Organization_Code : payload.code,
			ns0#Organization_Name  : payload.name,
			ns0#Organization_Type_Reference   : {
				ns0#Organization_Type_Name : "Company"
			},
			ns0#Organization_Visibility_Reference : {
				ns0#Organization_Visibility_Name : p('wday.org.visibility')
			}
		}
	}
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<workday:human-resources operation="Add_Update_Organization" doc:name="Upsert Workday organization" doc:id="19903fc7-6035-4dba-885c-2898f279dd38" config-ref="Workday_Config" />
            </batch:step>
        </batch:process-records>
        <batch:on-complete>
            <ee:transform doc:name="Prepare migration result" doc:id="c84b4bc4-5a65-41c1-9d0c-f1ebd3d8db7a">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
"Migration Report: \n"

++ "\n Time [milliseconds]: " 		++ payload.elapsedTimeInMillis!
++ "\n Total Records: "				++ payload.totalRecords!
++ "\n Successful Records: "		++ payload.successfulRecords!
++ "\n Failed Records: "			++ payload.failedRecords!
++ "\n Loaded Records: "			++ payload.loadedRecords!
++ "\n Processed Records: " 		++ payload.processedRecords!]]></ee:set-payload>
                </ee:message>
            </ee:transform>
            <logger level="INFO" doc:name="Migration process has finished!" doc:id="b7575d38-7dbd-4602-9186-1bbb25234896" message="Migration process has finished: #[payload]" />

        </batch:on-complete>
        
    </batch:job>
</flow>
	<flow name="mainFlow" doc:id="6671af0c-b8b9-4be8-9e76-0ad5ded6a144" >
		<flow-ref doc:name="Reference to businessLogicFlow" doc:id="cf027a70-5b09-406c-90bb-7bc8792e4106" name="businessLogicFlow"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7c859777-7bbb-4148-8134-ece68ab99689" type="ANY" >
				<flow-ref doc:name="errorHandlingFlow" doc:id="51d74cd3-c5d9-4507-9cec-5a71f9faa02d" name="errorHandlingFlow" />
			</on-error-propagate>
		</error-handler>
	</flow>

</mule>


        