src/main/app/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wd-hr="http://www.mulesoft.org/schema/mule/wd-hr" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.springframework.org/schema/beans"
      version="EE-3.6.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/wd-hr http://www.mulesoft.org/schema/mule/wd-hr/current/mule-wd-hr.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="9090" doc:name="HTTP Listener Configuration"/>
    <flow name="endpointsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/a" doc:name="HTTP"/>
        <wd-hr:add-update-organization config-ref="Workday_Human_Resource" organization-ref="#[org.mule.templates.WorkersRequest.createAddUpdateOrganizationRequest(&quot;27644&quot;,  '${wday.system.id}' )]" doc:name="Workday Human Resource"/>
                <logger level="INFO" doc:name="Logger"/>
            </flow>

	<!-- 	In this file you should declare all your inbound endpoints in order to control the access to your application -->

	<flow name="triggerFlow" processingStrategy="synchronous"  doc:description="This is the simpliest entry point to start the excecution of your Template
Here you should:
	* Define any inbound endpoint
	* Handle any input parameter and transform it into the expected format by the mainFlow
Here you should not:
	* Run validations against external systems
	* Choose flow of your application based on input parameters">
		<sap:inbound-endpoint type="idoc" rfcType="qrfc" xmlVersion="1" responseTimeout="10000" doc:name="SAP" jcoConnectionCount="${sap.jco.connectioncount}" jcoGwHost="${sap.jco.gwhost}" jcoGwService="${sap.jco.gwservice}" jcoProgramId="${sap.jco.idoc.programid}" outputXml="true" connector-ref="SAP" functionName="BAPI_PDOTYPES_GETDETAILEDLIST">
	    	<sap:default-in-memory-tid-store/>
		</sap:inbound-endpoint>
		
		<batch:execute name="businessLogicBatch" doc:name="Trigger businessLogicBatch"/>      
    </flow>
    <flow name="endpointsFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/b" doc:name="HTTP"/>
        <wd-hr:find-organization config-ref="Workday_Human_Resource" organizationFind-ref="#[org.mule.templates.WorkersRequest.findOrganization(&quot;org name-changed-again&quot; )]" doc:name="Workday Human Resource"/>
        <wd-hr:dissolve-organization-structure config-ref="Workday_Human_Resource" organizationStructureDissolve-ref="#[org.mule.templates.WorkersRequest.dissolveOrganization(payload.get(0).integrationIDReference)]" doc:name="Workday Human Resource"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>

</mule>
